/******************************************
/* TYPOGRAPHY
/*******************************************/

section {
  font-family: "Maven Pro";
  text-align: center;
}

.heroSection h1 {
  font-size: clamp(1.5rem, 5vw, 3rem);
}

.heroSection p {
  font-size: clamp(0.9rem, 2vw, 1.1rem);
  color: #a4d0ff;
}

.valuePropSection h2 {
  color: #196bc1;
}

.valuePropSection p {
  max-width: 700px;
  font-weight: 500;
}

/******************************************
/* BASE STYLES
/*******************************************/

section {
  padding: 40px 25px;
}

.button {
  background-color: #196bc1;
  padding: 15px;
  text-decoration: none;
  color: inherit;
  border-radius: 4px;
  font-weight: 700;
  transition: ease 1s;
}

.button:hover {
  background-color: #196ac19d;
  padding: 15px;
  text-decoration: none;
  color: inherit;
  border-radius: 4px;
  font-weight: 700;
  transition: ease 1s;
}

/******************************************
/* LAYOUT STYLES
/*******************************************/

.heroSection {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-image: url("../../assets/images/dogs-downtown-front-entrance.webp");
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
}

@media (min-width: 650px) {
  .heroSection {
    min-height: 70vh;
  }
}

.heroSection::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.657);
  backdrop-filter: blur(2.7px);
  z-index: 1;
}

.heroSection > * {
  position: relative;
  z-index: 2;
}

.valuePropSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.collectionCard {
  height: 500px;
  width: 50%;
}
